# ASP.NET
# Build and test ASP.NET projects.
# Add steps that publish symbols, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/apps/aspnet/build-aspnet-4

trigger:
- main

pool:
  vmImage: 'windows-latest'

variables:
  solution: '**/*.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'
  packageVersion: '$(version).$(Build.BuildId)'

steps:
- task: UseDotNet@2
  inputs:
    packageType: 'sdk'
    version: '10.0.x'
 
- task: DotNetCoreCLI@2
  displayName: 'Package Project to NuGet - Preview/Alpha'
  inputs:
    command: 'pack'
    packagesToPack: '**/Rsk.OpenIddict.Utils.csproj'
    includesymbols: true
    versionEnvVar: packageVersion
    versioningScheme: 'byEnvVar'
    verbosityPack: 'Normal'
    outputDir: '$(Build.ArtifactStagingDirectory)/Nupkg/Staging'
 
- task: DotNetCoreCLI@2
  displayName: 'Package Project for Nuget - Live'
  inputs:
    command: 'pack'
    packagesToPack: '**/Rsk.OpenIddict.Utils.csproj'
    includesymbols: true
    versionEnvVar: version
    versioningScheme: 'byEnvVar'
    verbosityPack: 'Normal'
    outputDir: '$(Build.ArtifactStagingDirectory)/Nupkg/Live'